@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
    background: #4da6ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    background: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
}

input{
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
}

button{
    padding: 10px 20px;
    cursor: pointer;
}

#resultado{
    margin-top: 20px;
    font-size: 18px;
}